.customNav {
    background-image: url("../../assets/images/clouds-background.png");
    background-position: top left;
    display: flex;
    height: 100px;
    margin-bottom: 25px;
}

#basic-navbar-nav, #navbarCollapse {
    justify-content: right;
    font-weight: bolder;
    color: white;
}

#navTitle {
    font-weight: bolder;
    font-size: xx-large;
    color: white;
    text-shadow: 0px 0px 2px #283e42;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.navbar>.container {
    margin-left: 0px;
}

a:hover {
    color: white !important;
}

